root = true

[*.{cs,cshtml,csproj,sln,json,js,css,html,md}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

[*.cshtml]
indent_style = space
indent_size = 4
