/* Sidebar Upward Menu Fix */
.layout-menu .menu-item.open.upward>.menu-sub {
    display: block;
    position: absolute;
    bottom: 100%;
    /* Push upwards */
    left: 0;
    width: 100%;
    background-color: #2b2c40;
    /* Match sidebar bg */
    box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.layout-menu .menu-item.upward {
    position: relative;
}