/* CSS for Personel Ekle Page */

.tabs-container {
  width: 90%;
  max-width: 100%;
  margin: 20px auto;
}

/* TAB BUTONLARI */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}

.tab-btn {
  background: #d7cffb;
  color: #333;
  padding: 10px 22px;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 600;
}

.tab-btn.active {
  background: white;
}

.tab-btn:hover {
  background: #ede8ff;
}

/* TAB İÇERİĞİ */
.tab-content {
  background: white;
  padding: 25px 30px;
  border-radius: 0 12px 12px 12px;
  display: none;
  animation: fade 0.3s ease;
}

.tab-content.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin-top: 0;
}

/* Personel Fotoğrafı Container */
.photo-preview-container {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  border: 2px dashed #ccc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  position: relative;
}

.photo-preview-container i {
  font-size: 64px;
  color: #adb5bd;
}

.photo-preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  /* Varsayılan olarak gizli */
}